*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-titulo-logo{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-empresa{
    width: 20%;
    height: 80px;
    margin-right: .5%;
    margin-top: -30px;
}

.logo-empresa img{
    width: 100%;
}

.titulo{
    width: 80%;
    height: 80px;
    background-color: orange;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    width: 80%;
    height: 40px;
    background-color: #f50000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin-top: .5%;
    margin-left: 20.5%;
}

.links a{
    color: white;
    text-decoration: none;
    border-right: 2px solid black;
    padding-right: 20px;
}

.contenedor-diplomado-cursos{
    width: 100%;
    height: 240px;
    
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background: red;
    margin-top: .5%;
    position: relative;
}

.diplomado{
    width: 20%;
    height: 100%;
    background-color: yellow;
    padding: 30px;
}

.parrafo-diplomado{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.diplomado details{
    margin-top: 20px;
    background-color: green;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    cursor: pointer;
    border-radius: 20px;
}

.diplomado > details summary{
    text-align: center;
}


.cursos{
    width: 80%;
    height: 100%;
    background-color: orange;
}

.parrafo-s{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagenes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.img-1, .img-2, .img-3{
    width: 30%;
    height: 180px;
    background: white;
}

.img-1 img, .img-2 img, .img-3 img{
    width: 100%;
    height: 100%;
}

.profesores-img img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 2px 2px 10px black;
}


.contenedor-profesores{
    width: 100%;
    height: 180px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profesores-img{
    width: 20%;
    height: 100%;
    margin-right: .5%;
}

.profesores{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-profesor{
    width: 50%;
    height: 100%;
    
    padding: 15px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 2px 2px 10px black;
}

.logros-profesor{
    width: 50%;
    height: 100%;
    
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}

.videos-cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.videos-cursos h4{
    font-size: 2em;
    text-shadow: 2px 2px 2px red;
    margin-bottom: 20px;
}

.contenedor-videos{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-curso-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
    margin-right: .5%;
    border-radius: 10px;
    border: solid black 2px;
    box-shadow: 2px 2px 2px grey;
    background-color: #8080809d;

}
.video-curso-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
    margin-right: .5%;
    border-radius: 10px;
    border: solid black 2px;
    justify-content: space-between;
    box-shadow: 2px 2px 2px grey;
    background-color: #8080809d;

}
.video-curso-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
    border-radius: 10px;
    border: solid black 2px;
    justify-content: space-between;
    box-shadow: 2px 2px 2px grey;
    background-color: #8080809d;
}

.p-1-v {
    margin-top: 20px;
    color: blue;
    text-shadow: 2px 2px black;
    font-size: 2rem;
}

.p-2-v{
    margin-top: 20px;
    color: gold;
    text-shadow: 2px 2px black;
    font-size: 2rem;
}

.p-3-v{
    margin-top: 20px;
    color: red;
    text-shadow: 2px 2px black;
    font-size: 2rem;
}

.video-curso-1 a{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    margin-bottom: 10px;
}
.video-curso-2 a{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    margin-bottom: 10px;

}
.video-curso-3 a{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    margin-bottom: 10px;

}

.footer{
    background-color: grey;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.interes{
    width: 33%;
    height: 100%;
    padding: 20px;
}

.portales{
    width: 33%;
    height: 100%;
    padding: 20px;
}

.contactos{
    width: 33%;
    height: 100%;
    padding: 20px;
}

.links-foot{
    border-left: solid white 2px;
    margin-left: 10px;
    padding: 20px;
    margin: 10px;
}

.links-foot a{
    text-decoration: none;
    color: white;
    margin: 5px;
}

.contenedor-footer{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.logos-contacto{
    font-size: 60px;
    margin-top: -80px;
}