*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container{
    border: 0.3rem solid black;
    display: flex;
}

.box{
    width: 10rem;
    height: 10rem;
}

.box1{
    background: blue;
}
.box2{
    background: red;
}
.box3{
    background: green;
}
.box4{
    background: yellow;
}
.box5{
    background: purple;
}
.box6{
    background: orange;
}