*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    background-color: #FFFBB9;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.navegador{
    background: #BDC3C7;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navegador a{
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-weight: bold;
    border: 2px solid black;
    padding: 2px 8px;
}

.container{
    display: flex;
    background: #808080;
    width: 100%;
    justify-content: center;
    align-items: start;
}

.contenedor-articulos{
    width: 70%;
    margin: 1em;
}

.articulo-1{
    background: #FFFBB9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
}

.articulo-1 h2, .articulo-1 h3, .articulo-1 time, .articulo-1 p{
    margin-top: 1em;
}

.contenedor-img{
    margin-top: 1em;
    width: 30%;
    background: #C4C4C4;
}

.contenedor-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comentarios{
    margin-top: 1em;
    display: flex;
    justify-content: end;
    width: 100%;
}

.articulo-2{
    background: #FFFBB9;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: .5em;
    margin-bottom: 2em;
}

.articulo-2 h2, .articulo-2 h3, .articulo-2 p{
    margin-top: 1em;
}

.articulo-2 time{
    margin-top: 1em;
}

.contenedor-mensajes{
    width: 30%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje{
    background: #FFFBB9;
    width: 60%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-size: 1.5em;
}

.footer{
    background: #2D3436;
    padding: 10px;
    color: white;
    text-align: center;
}