*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.c1, .c2, .c3, .c4, .c5{
    width: 100%;
    height: 150px;
    min-width: 150px;
}

.c1{
    background-color: red;
}
.c2{
    background-color: blue;
}
.c3{
    background-color: green;
}
.c4{
    background-color: yellow;
    height: auto;
}
.c5{
    background-color: purple;
}

/* @media screen and (min-width: 600px){
    .c2, .c3, .c4{
        width: 50%;
    }
} */

/* @media screen and (min-width: 800px){
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .c1{
        width: 60%;
    }
    .c2{
        width: 40%;
    }
    .c3, .c4{
        width: 33%;
    }
    .c5{
        width: 34%;
    }
} */

@media screen and (min-width: 600px){
    .c1{
        width: 100%;
    }

    .c4{
        width: 75%;
    }

    .c5{
        width: 100%;
    }
}

@media screen and (min-width: 800px){
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .c1{
        width: 50%;
    }
    .c4{
        width: 100%;
    }
    .c5{
        width: 50%;
        order: 2;
    }
}