*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #faece1;
    
}

.navegador{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.links{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.links a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.logo img{
    width: 50%;
    margin: 5px 20px;
}

.carrusel-banner {
  width: 100%; 
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.carrusel-img {
  display: flex;
  width: 100%; 
  height: 100%;
  animation: slide 9s infinite;
}

.carrusel-img img {
  width: 100%;
  object-fit: cover;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(0); }
  33%  { transform: translateX(-100%); }
  58%  { transform: translateX(-200%); }
  66%  { transform: translateX(-200%); }
  91%  { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}

.contenedor{
    width: 80%;
    margin: 20px auto;
    font-size: 1.5em;
    line-height: 1.6;
}

.botones{
    margin-top: 20px;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #555;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.777);
    transform: scale(1.05);
    transition: 1s;
}

.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}