*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegador-1{
    background: linear-gradient(to right, red, blue);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navegador-1-iz{
    width: 85%;
}

.navegador-1-iz a{
    color: white;
    text-decoration: none;
    border-right: 2px solid white;
    padding: 0px 10px;
}

.navegador-1-de{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
}

@media (max-width: 1260px){
    .navegador-1-de{
        width: 190px;
    }
}

.login{
    display: none;
}

@media (max-width: 880px){
    .navegador-1{
        height: 5px;
    }

    .navegador-1-de{
        display: none;
    }

    .navegador-1-iz{
        display: none;
    }
        .links-nav-2-de{
        display: none;
    }
    .login{
        display: block;
    }
}

.logo-nike{
    width: 60px;
}
.logo-betsson{
    width: 70px;
}
.logo-postobon{
    width: 60px;
}

.contenedor-navegador-2{
    background: #fff;
}

.navegador-2{
    width: 98%;
    display: flex;
    margin: 0 1.8%;
    height: 130px;
    align-items: center;
}

.navegador-2-iz{
    display: flex;
    align-items: center;
    width: 45%;
}

.navegador-2-de{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
}

.navegador-2-de a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
}

.links-nav-2{
    display: flex;
    align-items: center;
}

.links-nav-2 a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    font-family: sans-serif;
    border-right: 2px solid rgba(0, 0, 0, 0);
    margin-right: 20px;
}

.links-nav-2 a:hover{
    cursor: pointer;
    border-right: 2px solid black;
}

.logo-barcelona{
    width: 120px;
}

.fa-solid{
    margin-right: 8px;
}

.fa-bars{
    font-size: 30px;
    color: black;
}

.fa-people-group{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu {
  list-style: none;
}

.menu-link {
  font-family: sans-serif;
}

.menu-item{
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  padding: 10px 20px;
  list-style: none;
  display: none;
  width: 220px;
}

.submenu::before {
  position: absolute;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu a {
  display: block;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}


.nav-hamburguesa {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-hamburguesa {
    display: none;
}

.list_icon{
    margin-left: 20px;
    margin-right: 20px;
}

.label-hamburguesa {
    cursor: pointer;
}

.lista-menu-hamburguesa {
    display: none;
    position: absolute;
    top: 84px;
    left: -155px;
    background-color: black;
    overflow: hidden;
    z-index: 1000;
    width: 350px;
    font-family: "Roboto Condensed", sans-serif;
}
.links-lista{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 30px;
}

.bloque summary {           
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: white;
  font-weight: bold;
}

.bloque summary::-webkit-details-marker {
  display: none;
}

.bloque summary::after {
  content: "▾";                
  font-size: 30px;
}

.bloque[open] summary::after {
  content: "▴";                  
}

.bloque a{
    color: rgb(65, 65, 65);
    padding: 5px 0;
    display: block;
}

.links-lista a{
    text-decoration: none;
}

#menu-hamburguesa:checked ~ .lista-menu-hamburguesa {
    display: block;
}

.linea-color{
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, red, blue);
}


@media (max-width: 640px){
    .links-nav-2{
        display: none;
    }
    .nav-hamburguesa{
        order: 1;
    }
    .logo-barcelona{
        order: 2;
        margin: 0 auto;
    }
    .navegador-2-iz{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .navegador-2-de{
        width: 10%;
    }
    .lista-menu-hamburguesa{
        left: -20px;
    }
}

body{
    background: black;
}

.contenedor-video{
    width: 100%;
    height: 100vh;
}

.contenedor-video iframe{
    width: 100%;
    height: 100%;
}

.centrar-contenedor-cartas{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contenedor-cartas{
    background: white;
    margin-top: -50px;
    width: 70%;
    border-radius: 10px;
    display: flex;
}

.ultimos-partidos{
    background-color: #231F20;
    margin: 31px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 45%;
}

.ultimos-partidos h3{
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

.fechas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fecha-1, .fecha-2{
    padding: 28px;
    width: 50%;
}

.titulo-fecha-1, .titulo-fecha-2{
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.equipo-1, .equipo-2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.logo-barcelona-card{
    width: 40px;
    display: flex;
    align-items: center;
}

.logo-junior-card{
    width: 40px;
}

.logo-junior-card img{
    width: 100%;
}


.nombre-logo{
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    width: 50%;
    display: flex;
    align-items: center;
}

.resultado{
    display: flex;
    justify-content: center;
   align-items: center;
}

.pocisiones{
    background: #231F20;
    margin: 31px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 50%;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.tabla-pocisiones{
    table-layout: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; 
}

tr{
    text-align: center;
    width: 100%;
}

tr :nth-child(2){
    text-align: left;
    padding-left: 10px;
}

.boton-pocision{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.boton-pocision a{
    width: 60%;
    background: red;
    text-decoration: none;
    color: white;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vh;
    border-radius: 5px;
}

.titulo{
    font-size: 1.6em;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

th{
    color: #505050;
    padding: 5px;
}

.liga{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 120%;
}

.reclacificacion{
    background: #231F20;
    margin: 31px;
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 50%;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.tablas-centrar{
    display: flex;
    width: 50%;
}


.contenedor-proximos-partidos{
    width: 100%;
    margin-top: 50px;
    height: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 10px
}

.proximos-partidos{
    width: 70%;
    background: white;
    height: 100%;
    border-radius: 10px;
    padding: 28px;
    color: #fff;
    background-image: url(img/lineas-rojas-proximos-partidos.png);
    background-position-x: right;
    background-position-y: bottom;
    background-size: 33%;
    background-repeat: no-repeat;
    background-color: #231F20;
}

.titulo-partidos{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.info-proximos-partidos{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
}

.barcelona-proximo-partido, .medellin-proximo-partido, .vs{
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1rem;
}

.barcelona-proximo-partido-p, .medellin-proximo-partido-p{
    width: 86.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.8rem;
}

.equipos-proximos-partidos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
}

.nombre-equipo{
    font-size: 1rem;
    margin-top: 20px;
}

.liga-proximos-partidos{
    width: 128px;
}
.liga-proximos-partidos img{
    width: 100%;
}

.fecha-proximos-partidos{
    font-size: 1rem;
}

.fondo-lineas{
    background-image: url(img/fondo-1-1.jpg);
}

.centrar-noticias{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-direction: column;
}

.contenedor-ultimas-noticias{
    width: 70%;
    margin-top: 30px;
}

.titulo-noticias{
    width: 100%;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Roboto Condensed", sans-serif;
}

.ultimas-noticias{
    width: 100%;
    box-shadow: #a3a3a3 4px 4px 10px;
    height: 370px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
}

.regalos-navidad{
    width: 75%;
    display: flex;
    height: 370px;
}

.texto-regalos-navidad{
    width: 40%;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.texto-regalos-navidad a{
    text-decoration: none;
    color: white;
    background-color: red;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 20px 0;
    padding: 5px 10px;
    width: 50%;
    border-radius: 10px;
}

.imagen-regalos-navidad{
    width: 60%;
    overflow: hidden;
}

.imagen-regalos-navidad img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: -120px;
}

.imagen-regalos-navidad-2{
    overflow: hidden;
    width: 30%;
    padding-left: 15px;
}
.imagen-regalos-navidad-2 img{
    width: 100%;
    margin-top: -120px;
    object-fit: cover;
    object-position: center;
}


@media (max-width: 1700px) {
    .contenedor-cartas{
        width: 80%;
    }
    .proximos-partidos{
        width: 80%;
    }
    .contenedor-ultimas-noticias{
        width: 80%;
    }
}

@media (max-width: 1500px) {
    .contenedor-cartas{
        width: 90%;
    }
    .proximos-partidos{
        width: 90%;
    }
     .contenedor-ultimas-noticias{
        width: 90%;
    }
}

@media (max-width: 1350px) {
    .contenedor-cartas{
        width: 95%;
    }
    .proximos-partidos{
        width: 95%;
    }
     .contenedor-ultimas-noticias{
        width: 95%;
    }
}

@media (max-width: 1280px) {
    .contenedor-cartas{
        width: 95%;
        display: block;
        align-items: center;
    }
    .ultimos-partidos{
        width: auto;
    }
    .tablas-centrar{
        width: 100%;
    }
    
}

@media (max-width: 1280px){
    .proximos-partidos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1100px) {
    .imagen-regalos-navidad-2 img{
        margin-top: 0;
    }
    .texto-regalos-navidad a{
        width: 80%;
    }
}

@media (max-width: 800px){
    .ultimas-noticias{
        display: block;
        height: auto;
    }
    .regalos-navidad{
        width: 100%;
    }
    .imagen-regalos-navidad-2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;

    }
    .imagen-regalos-navidad-2 img{
        width: 100%;
        box-shadow: 2px 2px 10px #505050;
        height: 370px;
    }
}

@media (max-width: 670px) {
    .tablas-centrar{
        display: block;
    }
    .pocisiones{
        width: auto;
    }

    .reclacificacion{
        width: auto;
    }
}

@media (max-width: 590px){
    .regalos-navidad{
        display: flex;
        flex-direction: column;
    }
    .texto-regalos-navidad{
        order: 2;
        width: 100%;
    }
    .texto-regalos-navidad a{
        width: 100%;
    }
    .imagen-regalos-navidad{
        order: 1;
        width: 100%;
        height: 50%;
    }
    .imagen-regalos-navidad-2 img{
        width: 100%;
    }
}